{% extends 'myweb/base.html' %}

{% block content %}
    <div class="container" style="margin-top: 60px">
        <div class="card-deck">
            <div class="card" style="width: 400px;">
                <div class="card-body">
                    <h5 class="card-title">Quora blog</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Know The Nature</h6>
                    <p class="card-text">Know Thw Nature is my space on Quora which is about nature, astronomy and
                        Physics</p>
                    <a href="https://www.quora.com/q/cwtwgxkdovirrisq" class="card-link">Know The Nature</a>
                </div>
            </div>
            <div class="card" style="width: 400px">
                <div class="card-body">
                    <h5 class="card-title">BlogSpot</h5>
                    <h6 class="card-subtitle mb-2 text-muted">PPC Marketing</h6>
                    <p class="card-text">PPC marketing is all about how to earn money using pay per click marketing
                        strategy</p>
                    <a href="https://vsppcmarketing.blogspot.com/" class="card-link">PPC Marketing</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}